[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
python-json-logger = "*"
uvicorn = "*"
python-dotenv = "*"
redis = "*"

[dev-packages]

[requires]
python_version = "3.13"
